@media screen and(max-width : 1100px) {
  .certifications {
    &__content {
      &__text {
      }

      &-row {
      }

      &__img {
        width: 13vw;
        height: 18vw;
      }
    }
  }
}

@media screen and(max-width : 500px) {
  .certifications {
    &__content {
      &__text {
        font-size: 14px;
      }

      &-row {
      }

      &__img {
        width: 15vw;
        height: 21vw;
      }
    }
  }
}
