@media screen and(max-width : 500px) {
  .footer {
    justify-content: flex-end;
    height: 60px;

    &__content {
      font-size: 12px;
      padding-right: 15px;
    }

    &__logo {
      width: 130px;
      left: 15px;
    }
  }
}

@media screen and(max-width : 500px) {
  .footer {
    height: 50px;

    &__content {
      font-size: 10px;
      padding-right: 10px;
    }

    &__logo {
      width: 100px;
      left: 10px;
    }
  }
}
