.header {
  background-color: rgb(95, 95, 95);
  height: 80px;
  width: 100%;

  position: fixed;
  top: 0;

  &__allContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;

    &-logo {
      width: 180px;
      cursor: pointer;
    }

    &-navigation {
      &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
      }

      &__text {
        margin-right: 20px;
        cursor: pointer;
        text-decoration: none;
        color: #ffffff;
      }
    }

    &-contacts {
      &__container {
        text-align: right;
        border-left: 1px solid white;

        padding-left: 7px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }

      &__text {
        color: white;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }
}
