.ourWorks {
  @include dispFlexColumn;
  width: 100%;

  &__content {
    @include dispFlexColumn;
    width: 100%;

    &-row {
      @include dispFlexRow;
    }
  }

  .active {
    display: flex;
  }
}

@import "../Components/NavList/style/navList.scss";
@import "../Components/Slider/style/slider.scss";
